:root{
  --primary: #38e776;
  --action: #A317E6;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: var(--primary) !important;
}
.btn-primary{
  background-color: var(--action);
  color: white;
  border: 1px solid var(--action);
}
.btn-primary:hover{
  background-color: #000 !important;
  color: white;
  border: 1px solid  #000 !important;
}
.btn-primary a{
  color: white;
  text-decoration: none;
}
nav .btn-primary{
  background-color: #000;
  color: white;
  border: 1px solid #000;
}
nav svg{
  margin-right: 8px;
}

